<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>API-MSD-Z</title>
</head>

<body>
    <header>
        <div class="principaldiv-header">
            
                <div class="secondarydiv-header">

                    <div class="headerimg">
                        <img class="img_headerlogo" src="{{url_for('static',filename='img/imglogonice.png')}}">
                    </div>

                    <div class="header-div-nav-links">
                        <nav class="header-nav-links">
                            <ul class="header-ul-nav-links">
                                <li class="header-li-nav-links">
                                    <a id="headerlinks" class="headerlinks" href="https://purpurmc.org/">PURPURMC <img src="https://www.minecraft.net/content/dam/games/minecraft/logos/nav-link-green-icon.png" class="headerlinks-img" id="headerlinks-imgg"></a>
                                    
                                    <a id="headerlinks2" class="headerlinks" href="https://www.spigotmc.org/">SPIGOTMC <img src="https://www.minecraft.net/content/dam/games/minecraft/logos/nav-link-green-icon.png" class="headerlinks-img" id="headerlinks-imgg2"></a>

                                    <a id="headerlinks3" class="headerlinks" href="https://papermc.io/">PAPERMC <img src="https://www.minecraft.net/content/dam/games/minecraft/logos/nav-link-green-icon.png" class="headerlinks-img" id="headerlinks-imgg3"></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-div-hamburger">
                        <button class="button-hamburger"><img class="img-hamburger"src="https://www.minecraft.net/content/dam/games/minecraft/logos/hamburger-icon.png" alt=""> </button>

                    </div>
                </div>
            
        </div>



    </header>
    <div class="divsection">
        <section class="section-1">
            <div class="container">
                
                <div class="container-img-text">
                    <h1>API-MSD-Z</h1>
                    <P>Descarga cualquier versión de jar-fork para servidores de minecraft totalmente actualizado a la ultima versión y optimiza tu tiempo con esta API sencilla 
                    </P>
                    <a class="a-link-api"href="https://github.com/M20191/api-msd-z" role="link" target="blank">
                        Source Code
                    </a><br>
                    <br>
                    <a class="a-link-api"href="https://github.com/M20191/api-msd-z/wiki" role="link" target="blank">
                        Wiki
                    </a>
                </div>

            </div>
            

            </div>
        </section>
    </div>




    <script src="main.js"></script>
</body>

</html>